<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Magic players stats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 style="text-align: center;">Wizards stats</h2>
    <table>
        <thead>
        <tr>
            <th th:text="MtgTable" style="background-color: white; color: black";></th>
            <td th:each="stat : ${stats}"
                th:text="${stat.getDisplayName()}" style="background-color: #4CAF50; color: white">
            </td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="stat : ${stats}">
                <th th:text="${stat.getDisplayName()}"></th>
                <td th:each="s, rowSet : ${stats}"
                    th:text="${}">
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
